/* Adicione este CSS ao seu arquivo de estilo */
.custom-input {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-input:focus {
  border-color: #5ca6f5;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.custom-input::placeholder {
  color: #6c757d;
  opacity: 1;
}

.api-container {
  justify-content: center;
  align-items: center;
  background-color: #e2effd;
}
