.womens-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.womens-category h1 {
  font-size: 50px;
  color: #333;
}

.womens-category input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-image: url('path/to/search-icon.png');
  background-size: 20px 20px; /* Tamanho da lupa */
  background-position: 10px center; /* Posição da lupa */
  background-repeat: no-repeat; /* Não repetir a imagem */
  padding-left: 40px; /* Espaço para a imagem */
}


.womens-category button:disabled {
  background-color: #cccccc;
}

.renderization-womens {
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se ajustem em várias linhas */
  justify-content: center; /* Centraliza os itens horizontalmente */
  gap: 20px; /* Espaçamento entre os itens */
  
}

.product-item-women {
  flex: 0 1 calc(25% - 20px); /* Ajusta o item para ocupar 25% da largura menos o espaço de gap */
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-item-women h3 {
  font-size: 20px;
  color: #555;
  margin: 10px 0;
}

.product-item-women p {
  font-size: 16px;
  color: #777;
}

.product-price {
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-top: auto; /* Empurra o preço para o final do item */
}
