/* Container principal do componente WomenCategory */
.womens-category {
  display: flex; /* Define o container como flexível */
  flex-direction: column; /* Alinha os itens verticalmente */
  justify-content: center; /* Centraliza os itens verticalmente */
  align-items: center; /* Centraliza os itens horizontalmente */
  background-color: #e2effd;
  min-height: 100vh; /* Garante que o container ocupe a altura total da viewport */
  padding: 1rem; /* Adiciona um espaçamento interno ao container */
}

/* Estilo para o título da página */
.womens-category h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/* Estilo para a barra de busca */
.womens-category input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* Estilo para a navegação de páginas */
.nagivations-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.nagivations-buttons button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.nagivations-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilo para a lista de produtos */
.renderization-womens {
  display: flex; /* Define a lista como flexível */
  flex-wrap: wrap; /* Permite que os produtos se movam para a linha seguinte quando necessário */
  gap: 1rem; /* Espaçamento entre os produtos */
  justify-content: center; /* Centraliza os produtos horizontalmente */
}

/* Cada produto */
.product-item-women {
  display: flex; /* Define o produto como flexível */
  flex-direction: column; /* Alinha o conteúdo do produto verticalmente */
  justify-content: center; /* Centraliza o conteúdo verticalmente */
  align-items: center; /* Centraliza o conteúdo horizontalmente */
  background-color: #e2effd;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 5px;
  width: calc(25% - 1rem); /* Ajuste o tamanho do produto conforme necessário */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Estilo para o título do produto */
.product-item-women h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

/* Estilo para a imagem do produto */
.product-item-women img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

/* Estilo para o preço do produto */
.product-price {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

/* Estilo para a descrição do produto */
.description-women {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
