/* Estilos padrão (light mode) */
.api-container {
  padding: 20px;
  background-color: blanchedalmond;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.product {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.product-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
}

.product-description {
  color: #666;
}

.product-price {
  font-weight: bold;
  margin-top: 10px;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity-control button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.quantity-control button:hover {
  background-color: #0056b3;
}

.quantity {
  margin: 0 10px;
  font-weight: bold;
}

button {
  cursor: pointer;
}

input[type='text'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.cart {
  max-width: 1200px;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* Estilos para o dark mode */
.dark-mode .api-container {
  background-color: #333;
  color: #fff;
}

.dark-mode .product {
  background-color: #444;
  color: #fff;
}

.dark-mode .product-title {
  color: #fff;
}

.dark-mode .product-description {
  color: #ccc;
}

.dark-mode .product-price {
  color: #fff;
}

.dark-mode input[type='text'] {
  background-color: #666;
  color: #fff;
}

.dark-mode button {
  background-color: #444;
  color: #fff;
}

.dark-mode button:hover {
  background-color: #333;
}

.dark-mode .cart {
  background-color: #555;
  color: #fff;
}
