.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body {
  background-color: beige;
}

.button-container {
  margin-bottom: 20px;
}

.pagination-button {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-button:hover {
  background-color: #45a049;
}

.divProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
}

.product img {
  width: 100%;
  height: auto;
}

.myHeader {
  background-color:beige; /* Cor de fundo do cabeçalho */
  color:black; /* Cor do texto */
  padding: 20px 0; /* Espaçamento interno superior e inferior */
}

.myHeader header {
  text-align: center; /* Centralizar o conteúdo do cabeçalho */
}

.myHeader h1 {
  margin: 0; /* Remover margem padrão do h1 */
  font-size: 2rem; /* Tamanho da fonte */
}
